html {
  background: url(https://miro.medium.com/max/1400/0*BTRGNVTctSoTOKQu) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
} 

.topo-pagina{ 
	display: flex; 
	height: 50px;
	background-color: #1192C8;
}

.logotipo{
	width: 30%;
	padding: 2px;
	font-size: 18px;

}
.oi{
	 max-width: 100px; max-height: 100px 
}
.rodape{

    background-color: #cecece;

    text-align: center;

    border: solid 1px Gray;

    font-size:8pt;

    font-family: Verdana;

    font-weight:bold;

    width:100%;

    color:Black;

    position:fixed;

    bottom:0px;

    left:0px;

}
.menuprincipal{
 color: bisque;
 align-items: center;
 
}

